.services-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
    background-color: #F1F1EB;
    padding: 0 20px;
  }
  
  .service-item1 {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .service-item1 img {
    width: 45%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .service-item1 p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #4b321d;
    font-size: 40px;
    text-align: start;
    margin-left: 50px;
  }
  
  .service-item2 {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 50px;
  }
  
  .service-item2 img {
    width: 45%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .service-item2 p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #4b321d;
    font-size: 40px;
    text-align: start;
  }
  