@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home-info-container{
    width: 98%;
    height: 450px;
    background-color: #4B321D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    color: #F1F1EB;
    padding: 0 70px;
    border: none;
    border-radius: 16px;
    margin-top: 70px;
}

.home-info-container h1{
    font-size: 80px;
    margin-bottom: 50px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.home-info-container p{
    font-size: 26px;
}